---
import {
  activities,
  certificates,
  educations,
  experiences,
  ossContribs,
  publications,
  qualifications,
  sideProjects,
  volunteers,
} from "@daydream-cafe/data";

import Timeline from "@/components/Timeline.svelte";
import RootLayout from "@/layouts/RootLayout.astro";
import Hero from "@/sections/Hero.astro";

// Filter out projects with hide property
const visibleProjects = sideProjects.filter((project) => !project.hide);
---

<RootLayout>
  <main class="flex flex-col items-center text-center">
    <Hero />

    <Timeline
      experiences={experiences}
      educations={educations}
      projects={visibleProjects}
      volunteers={volunteers}
      ossContribs={ossContribs}
      activities={activities}
      publications={publications}
      certificates={certificates}
      qualifications={qualifications}
      client:load
    />
  </main>
</RootLayout>
