---
import { CollectionEntry, getCollection } from 'astro:content';
import RootLayout from '../../layouts/RootLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<RootLayout>
	<!-- <div
  style={data.meta.image && `background-image: url(${data.meta.image})`}
  class="imageCard mx-auto aspect-[4/1] w-[calc(100vw-8rem)]"
>
  <div>
    <p class="text-4xl font-bold">{data.meta.title}</p>
    <p class="text-3xl">{data.meta.description}</p>
    <PostDate writtenAt={data.meta.writtenAt} updated={data.meta.updated} />

    <Tags clsx="text-xl" tags={data.meta.tags} />
  </div>
</div> -->

	<article
  class="prose prose-invert m-4 mx-auto w-full max-w-4xl rounded-xl sm:prose-lg"
	>
		<Content />
	</article>
</RootLayout>
